@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Jost";
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gradient {
  background-image: linear-gradient(
    to right,
    #4ade80,
    #fde047,
    #16a34a
  ); /* green-yellow-green */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent; /* For Safari */
}

.swiper-fade .swiper-slide {
  opacity: 0 !important;
  transition: opacity 1s ease-in-out;
  pointer-events: none;
}
.swiper-fade .swiper-slide-active {
  opacity: 1 !important;
  pointer-events: auto;
}
